* {
  box-sizing: border-box;
}

html, body, #root, .App {
  height: 100%;
  min-height: 100vh;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.Header {
  border-bottom: 1px solid #1F2230;
  background-color: #1F2230;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
}
.Header .headerTitle {
  color: #FAE687;
  margin: 0;
}

.Intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #1E7491;
  height: calc(100% - 50px);
  min-height: calc(100vh - 50px);
  color: #FAE687;
  padding-top: 30px;
}
.Intro .gameIntroCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.Intro .gameIntroCardImgCont {
  position: relative;
}
.Intro .gameDetails {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Intro .glyphicon-play-circle {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  font-size: 250%;
  color: white;
}
.Intro .gameDetailsCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.Intro .playGameCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Intro .quizTitle {
  text-decoration: underline;
  margin-bottom: 10px;
}
.Intro #comicQuizIntro {
  margin-top: 10px;
  text-align: center;
}
.Intro .gameDescriptionCont {
  margin-top: 10px;
}
.Intro .details {
  color: #1F2230;
}

@media (max-width: 660px) {
  #comicQuizIntro {
    font-size: 2.5vw;
  }
}
@media (max-width: 500px) {
  .quizTitle {
    font-size: 6vw;
  }
}
@media (max-height: 400px) {
  .Intro {
    height: 100%;
    min-height: 100vh;
  }
}
.Game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E7491;
  height: calc(100% - 50px);
  min-height: calc(100vh - 50px);
  color: #FAE687;
  position: relative;
}
.Game .preGameTimerCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Game .gameTimer {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Game .time {
  margin-left: 5px;
  font-size: 55px !important;
}
.Game .questionCard {
  width: 80vw;
  height: calc(70vh - 50px);
  background-color: #FAE687;
  color: #1F2230;
  box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.21);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.Game .level {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
}
.Game .questionCont {
  width: 80%;
  margin-bottom: 70px;
}
.Game #question {
  font-size: 2vw;
  text-align: center;
}
.Game #Answer0 {
  position: absolute;
  bottom: 5%;
  left: 3%;
}
.Game #Answer1 {
  position: absolute;
  bottom: 5%;
  right: 3%;
}
.Game .answer {
  width: 45%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0595F6;
  color: #FEF73F;
  font-size: 150%;
}
.Game .answer:hover {
  cursor: pointer;
  background-color: #1F2230;
}

@media (max-width: 1200px) {
  .Game #question {
    font-size: 2.2vw;
  }
}
@media (max-width: 900px) {
  .Game #question {
    font-size: 2.4vw;
  }
}
@media (max-width: 800px) {
  .Game #question {
    font-size: 2.8vw;
  }
}
@media (max-width: 700px) {
  .Game #question {
    font-size: 3.3vw;
  }
}
@media (max-width: 550px) {
  .Game .gameTimer {
    font-size: 6vw;
  }
  .Game .time {
    font-size: 12vw !important;
  }
}
@media (max-width: 500px) {
  .Game .preGameTimer {
    font-size: 8vw;
  }
  .Game #question {
    font-size: 4vw;
  }
  .Game .questionCard {
    height: 50vh !important;
  }
  .Game .answer:hover {
    background-color: #0595F6;
  }
}
@media (max-width: 400px) {
  .Game #question {
    font-size: 4.5vw;
  }
}
@media (max-width: 400px) {
  .Game #question {
    font-size: 5vw;
  }
}
@media (max-height: 450px) {
  .Game {
    height: 120%;
    min-height: 100vh;
  }
  .Game .questionCard {
    height: calc(90vh - 50px);
  }
}
.Results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1E7491;
  min-height: calc(100vh - 50px);
  color: #FAE687;
  padding: 30px 0 60px 0;
}
.Results .resultHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin-bottom: 20px;
}
.Results .resultsCont {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Results .btnCont {
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
}
.Results .btn {
  background-color: #1F2230;
  color: #FAE687;
}

@media (max-width: 1000px) {
  .Results .resultHeader {
    width: 60%;
  }
}
@media (max-width: 800px) {
  .Results .btnCont {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .Results .resultHeader {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .Results .resultHeader {
    width: 100%;
  }
  .Results h1 {
    font-size: 8vw;
  }
  .Results .btnCont {
    width: 70%;
  }
}
@media (max-width: 300px) {
  .Results .btnCont {
    width: 100%;
  }
}
.ResultCard {
  width: 100%;
  border: 1px solid #1F2230;
  margin-bottom: 20px;
  padding: 50px;
  background-color: #FAE687;
  color: #1F2230;
  position: relative;
}
.ResultCard .correctAnswerCont, .ResultCard .wrongAnswerCont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
}
.ResultCard .resultCardHeader {
  margin: 10px 0 10px 0;
}
.ResultCard p {
  color: #1E7491;
  font-weight: bold;
  font-style: italic;
}
.ResultCard .glyphicon-ok-sign, .ResultCard .glyphicon-remove-sign {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 50px;
}
.ResultCard .glyphicon-ok-sign {
  color: green;
}
.ResultCard .glyphicon-remove-sign {
  color: red;
}

@media (max-width: 700px) {
  .ResultCard .glyphicon-ok-sign, .ResultCard .glyphicon-remove-sign {
    font-size: 30px;
  }
}
@media (max-width: 600px) {
  .ResultCard {
    padding: 20px 10px 20px 10px;
  }
  .ResultCard .resultCardHeader {
    margin: 20px 0 20px 0;
  }
}

/*# sourceMappingURL=index.css.map */
